$tabWidth: 30px;
$tabGab: 10px;

.inventory-wrapper {
  position: absolute;
}

.inven-1 {
  position: absolute;
  cursor: pointer;
}
.inven-2 {
  left: 6px;
  top: 22px;
  position: absolute;
}

.inven-3 {
  left: 7px;
  top: 47px;
  position: absolute;
}

.item-tab-1 {
  top: 30px;
  left: $tabGab;
  position: absolute;
  cursor: pointer;
}
.item-tab-2 {
  top: 30px;
  left: $tabGab + $tabWidth;
  position: absolute;
  cursor: pointer;
}
.item-tab-3 {
  top: 30px;
  left: $tabGab + $tabWidth + $tabWidth;
  position: absolute;
  cursor: pointer;
}
.item-tab-4 {
  top: 30px;
  left: $tabGab + $tabWidth + $tabWidth + $tabWidth;
  position: absolute;
  cursor: pointer;
}
